/* general page setup */
* {
    font-family: "VT323", monospace;
    /* font-weight: 400; */
    font-style: normal;
    background-color: #282828;
    color: #4aff00;
    font-size: medium;
}

/* top nav section starts*/
.top-nav{
    font-weight: normal;
    font-size: 15px;
}

ul.top-nav-list{
    display: flex;
    justify-content:flex-end;
    align-content: space-between;
    text-decoration: none;
}
/* top nav section ends */

/* list and anchor style starts */
li{
    text-decoration: none;
    list-style: none;
    margin: 10px;
}

a{
    text-decoration: none;
}
/* list and anchor style ends */

/* hello there section */
h1.hello-there {
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 100px;
    color: #f0fff8; /* almost white */
    text-shadow: 0 0 3px #80ffc0, 0 0 10px #00ff66, 0 0 20px #00ff66, 0 0 30px #00ff66;
}

/* footer */
footer{
    margin: 10px;
    padding: 10px;
}