/* general page setup */
* {
    font-family: "VT323", monospace;
    /* font-weight: 400; */
    /* font-style: normal; */
    /* background-color: #282828; */
    /* color: #4aff00; */
    background-color: #ebdce4;
    color: #995579;
    font-size: large;
}

a{
    text-decoration: none;
}
/* general page setup ends */

/* top nav section starts */
.top-nav-bar{
    font-weight: normal;
    font-size: 15px;
    width: 100%;
    height: 70px;

}

ul.top-nav-list{
    display: flex;
    justify-content: flex-start;
    align-content: space-between;
    text-decoration: none;
}

li{
    text-decoration: none;
    list-style: none;
    margin: 10px;
}

a{
    text-decoration: none;
}
/* top nav section ends */

/* quotes section */
.quotes-section{
    /* font-size: 20px; */
    /* color: #f0fff8; almost white */
    color: #A7CEB9;
    /* text-shadow: 0 0 3px #80ffc0, 0 0 10px #00ff66, 0 0 20px #00ff66, 0 0 30px #00ff66; */
}

.quotes-section {
    height: 10vh;
    /*This part is important for centering*/
    display: grid;
    place-items: center;
    padding-left: 5%;
  }
  
  .typing-demo {
    width: 155ch;
    animation: typing 10s steps(155), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid;
    font-family: monospace;
    font-size: 12px;
    overflow-wrap: break-word;
    font-weight: bold;
  }
  
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }
/* quotes section */

/* screen container section starts*/
.screen-container, .container-left, .container-right{
    border: 0px solid white;
}

.screen-container{
    display: flex;
    justify-content: row;
    align-content: space-between;
}

/* LEFT SECTION */

.container-left{
    height: auto;
    width: auto;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.name-stem{
    color: #9C577C;
}

.middle-part-datetime{
    display: flex;
    justify-content: flex-start;
    align-content: normal;
    font-size: 10px;
    text-align: center;
}

#extra-dt,#datetime{
    font-size: 14px;
}

.imgs-sidebar{
    width: 200px;
    height: 200px;
    border: 0px solid white;

    display: flex;
    justify-content: stretch;
    align-content: stretch;
    flex-direction: column;
    align-items: center;
}

.imgs-link{
    border: 0px solid white;
    height: 20%;
    width: 50%;
    text-align: center;
}

/* RIGHT SECTION */

.container-right{
    height: auto;
    width: auto;
    padding-left: 1%;
    padding-right: 1%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.current-work, .division-section, .top-project{
    border: 0px solid white;
}

.img-division-section{
    width: 25px;
    height: 25px;
}

.top-project-paragraph{
    font-weight: normal;
}

/* screen container section ends */

/* FOOTER SECTION starts */

footer{
    text-align: center;
}

/* FOOTER SECTION ends */